<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiwilss.dagger">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name = "android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BroadcastOneActivity" />
        <activity android:name=".activity.ReceiverTwoActivity" />
        <activity android:name=".activity.LocalReceiverActivity" />
        <activity android:name=".activity.OneServiceActivity" />
        <activity android:name=".activity.BindServiceActivity" />
        <activity android:name=".activity.IntentActivity" />
        <activity android:name=".activity.XmlActivity" />
        <activity android:name=".activity.AlarmActivity" />
        <activity android:name=".activity.ContentActivity" />

        <activity android:name=".basetext.SearchActivity"
            android:theme="@style/NoActionbar"/>
        <activity android:name=".basetext.flexbox.FlexboxActivity"/>
        <activity android:name=".basetext.flexbox.RvOneActivity"/>
        <activity android:name=".basetext.flexbox.RvTwoActivity"/>
        <activity android:name=".basetext.viewpager.WrapVPActivity"/>

        <activity android:name=".activity.LayoutAnimActivity"/>
        <activity android:name=".basetext.viewpager.RvVpActivity"/>
        <activity android:name=".basetext.ConstrainlayoutActivity"/>
        <activity android:name=".basetext.WebviewActivity"/>
        <activity android:name=".basetext.TextViewActivity"/>

        <activity android:name=".basetext.recycler.RecyclerOneActivity"/>
        <activity android:name=".basetext.ShaLayoutActivity"/>
        <activity android:name=".basetext.textview.SuperTextViewActivity"/>
        <activity android:name=".basetext.recycler.RvTestActivity"/>
        <activity android:name=".basetext.recycler.RvLinearActivity"/>

        <activity android:name=".basetext.recycler.RvLinearActivity2"/>
        <activity android:name=".basetext.recycler.RvHeaderFooterActivity"/>
        <activity android:name=".basetext.recycler.GridActivity"/>
        <activity android:name=".basetext.recycler.GridLineActivity"/>
        <activity android:name=".basetext.recycler.RvItemTouchActivity"/>
        <activity android:name=".basetext.recycler.RvStickyActivity"/>

        <activity android:name=".activity.LottieActivity"/>

        <activity android:name=".arouter.ArouterOneActivity"/>
        <activity android:name=".arouter.ArouterOneActivity2"/>
        <activity android:name=".arouter.ArouterSencondActivity"/>

        <activity android:name=".basetext.recycler.TouTiaoOneActivty"/>
        <activity android:name=".activity.TouTiaoDetailActivity"/>
        <activity android:name=".basetext.recycler.TouTiaoTwoActivity"/>
        <activity android:name=".basetext.recycler.WxPullActivity"/>
        <activity android:name=".basetext.recycler.WxPullActivity2"/>
        <activity android:name=".dialog.DialogFragmentTestActivity"/>

        <activity android:name=".dialog.WxIconActivity"/>
        <activity android:name=".basetext.recycler.anim.RvAnimOneActivity"/>
        <activity android:name=".basetext.scroll.ScrollActivity"/>
        <activity android:name=".basetext.scroll.HorizontalActivity"/>
        <activity android:name=".basetext.scroll.RecyclerHorizontalActivity"/>

        <activity android:name=".activity.WallPaperActivity"/>
        <activity android:name=".activity.GlideTestActivity"/>
        <activity android:name=".activity.GlideKuActivity"/>


        <receiver android:name=".broadcast.BroadTestOne">
            <intent-filter>
                <action android:name="com.broadcast" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.BroadTestTwo">
            <intent-filter>
                <action android:name="com.broadcast" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".service.MyService" />
        <service android:name=".service.MyServiceTwo" />
        <service android:name=".service.MyIntentService" />

        <!--<provider-->
            <!--android:name=".content.MyProvider"-->
            <!--android:authorities="" />-->
        <provider
            android:name=".DatabaseProvider"
            android:authorities="com.kiwilss.dagger.provider"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>